.sidebar {
  position: fixed;
  background-color: $sidebar-bg;
  color: $sidebar-color;
  height: 100%;
  text-align: center;

  &_item {
    margin: 1rem;

    h2 {
      font-size: 16px;
    }

    img {
      width: 2rem;
      height: 2rem;
    }
  }
}
